<div class="wrapper">
  <h3 class="page_title">Featured Cities</h3>
    <p class="paragraph_header">Denver, CO</p>
      <p>A Dense urban center surrounded by world class
        outdoor activites, Denver is a City for active people.
  <p class="QOL_SCORE">Acres rating: 99.92</p>
      </p>
  <br/>
    <p class="paragraph_header">Austin, TX</p>
    <p>
      Home to SXSW, an food scene, and the Texas entrepreneurial
      spirit. Austin is the perfect place to raise a family and
      some cattle.
  <p class="QOL_SCORE">Acres rating: 98.92</p>
    </p>
   <br/>
    <p class="paragraph_header">Charlotte, NC</p>
    <p>
      With its southern charm and lush surroundings, Charlotte
      is a great city for people who love the density of the
      east coast.
      <p class="QOL_SCORE">Acres rating: 94.92</p>
    </p>

</div>