<div class="body">
  <h3 class="page_title">How does your salary feel?</h3>

  <form action="/salary" method="post">
    <label for="current_city">Current City</label>
    <select name="city">City</select>
      <option value="sf/bay">SF/Bay Area</option>
      <option value="nyc">NYC</option>
      <option value="la">LA</option>
      <option value="chicago">Chicago</option>
  </form>

</div>