<div class="wrapper">
  <p style="color: lightgray;">
  You love the big city, but does it love you back?
  Acres is full of companies and cities that are looking
  for talented people like you to join them.
  </p>
  <p style="color: lightgray;">
   Sign In, tell us what you value most, and we'll
   help match you with the cities that are best
   for you. Give it a try, you might be surprised!
  </p>
</div>