<div class="wrapper">
  <h3 class="page_title">Jobs</h3>
    <p class="paragraph_header">Ruby on Rails Engineer</p>
    <p>
      We need an awesome Ruby dev to come to beautiful
    randomsville, randomstate.
    <p class="QOL_SCORE">Salary Range 85k-95k</p>
    <p class="QOL_SCORE">How this salary Feels: 105k-115K</p>
    </p>
  <br/>
    <p class="paragraph_header">Ruby on Rails Engineer</p>
    <p>
      We need an awesome Ruby dev to come to beautiful
      randomsville, randomstate.
    <p class="QOL_SCORE">Salary Range 105k-115k</p>
    <p class="QOL_SCORE">How this salary Feels: 150k-160K</p>
    </p>
  <br/>
    <p class="paragraph_header">Ruby on Rails Engineer</p>
    <p>
      We need an awesome Ruby dev to come to beautiful
      randomsville, randomstate.
    <p class="QOL_SCORE">Salary Range 65k-75k</p>
    <p class="QOL_SCORE">How this salary Feels: 95k-105k</p>
    </p>
</div>