<div class="body">
<form class="login" action="/login" method="post">

  <label for="full_name">Full Name:</label>
  <input class="input" type="text" name="full_name" id="full_name"/>
<br/>
  <br/>
  <label for="email">Email:</label>
  <input class="input" type="text" name="email" id="email"/>
 <br/>
  <br/>
  <button>Submit</button>
</form>

<br/>
Or Login with Linkedin!

</div>