<div class="wrapper">

  <p class="page_title">
    Complete this quick survey.
    When Applicable: (1 = very important to you 5 = least important to you)
  </p>

  <form action="/user_homepage" method="get">
    <ul>
      <li>
        <label class="label" for="Walkable Urban Center">Walkable Urban Center</label>
        <select name="Walkable Urban Center" size="5">
          <div class="signin">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </div>
        </select>
      </li>
      <li>
        <label class="label" for="Startup Scene">Startup Scene</label>
        <select name="Startup Scene" size="5">
          <div class="signin">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
</div>
</select>
</li>
<li>
  <label class="label" for="Food Scene">Food Scene</label>
  <select name="Food Scene" size="5">
    <div class="">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    </div>
  </select>
</li>

<li>
  <label class="label" for="Kids Activities">Kids Activities</label>
  <select name="Kids Activities" size="5">
    <div class="signin">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    </div>
  </select>
</li>

<li>
  <label class="label" for="Outdoor Activities">Outdoor Activities</label>
  <select name="Outdoor activities" size="5">
    <div class="signin">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    </div>
  </select>
</li>
<li>
  <label class="label" for="Arts/Culture Events">Arts/Culture Events</label>
  <select name="Arts/Culture Events" size="5">
    <div class="signin">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    </div>
  </select>
</li>
<li>
  <label class="label" for="History Culture">History Culture</label>
  <select name="History Culture" size="5">
    <div class="signin">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    </div>
  </select>
</li>
<li>
  <label class="label" for="Sports Teams">Sports Teams</label>
  <select name="Sports Teams" size="5">
    <div class="signin">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    </div>
  </select>
</li>
<li>
  <label class="label" for="Public/Private Kids Education">Public/Private Kids Education</label>
  <select name="Public/Private Kids Education" size="5">
    <div class="signin">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    </div>
  </select>
</li>

</ul>
<button class="input">Submit</button>
</form>


</div>