.body {
    font-family: 'Raleway', sans-serif;
    position: relative;
    background-color: whitesmoke;
    text-color: darkgray;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 100%;
    max-width: 500px;

}

.title {
    position: relative;
    margin-top: 10px;
    margin-left: -200px;
    text-align: left;

}